#!/usr/bin/env python3
"""
Module Docstring
"""
from __future__ import print_function

__author__ = "{{NAME}}"
__email__ = "{{EMAIL}}"
__version__ = "0.1.0"
__license__ = "MIT"
__status__ = "Developement"
__copyright__ = "MyCorporation"
__data__ = "{{TIMESTAMP}}"


def main():
    """ Main entry point of the app """
    print("hello world")


if __name__ == "__main__":
    """ This is executed when run from the command line """
    main()
